name: Validate & publish (schedule)

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  get-version-tag:
    uses: anthochamp/dev-toolbox/.github/workflows/util-get-latest-git-version-tag.yml@4ffc79239063f81ec576e90a6bdbd179f8999430

  validate:
    needs: get-version-tag
    uses: anthochamp/dev-toolbox/.github/workflows/container-validate.yml@4ffc79239063f81ec576e90a6bdbd179f8999430
    with:
      checkout-ref: ${{ needs.get-version-tag.outputs.tag }}

  pre-publish:
    needs: [validate, get-version-tag]
    uses: ./.github/workflows/unbound-exporter-pre-publish.yml

  publish:
    needs: [validate, get-version-tag, pre-publish]
    permissions:
      packages: write
      id-token: write # used for sigstore/fulcio identity challenge
    uses: anthochamp/dev-toolbox/.github/workflows/container-publish.yml@4ffc79239063f81ec576e90a6bdbd179f8999430
    with:
      checkout-ref: ${{ needs.get-version-tag.outputs.tag }}
      dockerfile-dir: src
      dhub-readme-file: ./CONTAINER.md
      version: ${{ needs.get-version-tag.outputs.version }}
      container-image-name: ${{ needs.pre-publish.outputs.container-image-name }}
    secrets:
      dhub-username: ${{ secrets.DHUB_USERNAME }}
      dhub-password: ${{ secrets.DHUB_PASSWORD }}
      ghcr-username: ${{ github.repository_owner }}
      ghcr-password: ${{ secrets.GITHUB_TOKEN }}
